/* GENERAL */

:root {
    --arial: Arial, Helvetica, sans-serif;
    --border: 2px dashed #fff;
    background-color: #fff;
}

/* HTML */

body {
    background-color: #e6e6e6;
    width: 980px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
    margin: 18px;
}

header {
    width: 100%;
    height: 163px;
    
    position: relative;
}

#logo {
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    right: 5%;
}

main {
    display: flex;    
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* SLIDER */

.slider {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 56px;
}

.slider > .content > .quote {
    font-family: var(--arial);
    font-weight: lighter;
    
    position: relative;
    left: .5ch;
    text-indent: -1ch;
}

.slider > .left,
.slider > .right {
    background-color: #ffdb4a;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(246, 138, 74, 1);
    
    width: 60px;
    height: 60px;
}

.slider > .left {
    transform: translateX(-150%);
    background-image: url(images/left.png);
}

.slider > .right {
    transform: translateX(150%);
    background-image: url(images/right.png);
}

.slider > .left:hover, 
.slider > .right:hover {
    opacity: .8;
    cursor: pointer;
}

/* VIDEO */

.video {
    margin-bottom: 70px;

    position: relative;
}

.video > .annotation {    
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    width: 100%;
    height: 15%;

    position: absolute;
    top: 0;
}

.video > .annotation > .text {
    font-family: var(--arial);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video > .play {
    background-color: #ffdb4a;
    background-image: url(images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(246, 138, 74, 1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video > .play:hover {
    opacity: .8;
    cursor: pointer;
}

/* WAYS */

.ways {
    font-family: var(--arial);
    width: 80%;
}

.ways > .title {
    font-size: 32pt;
    font-weight: 100;
    text-align: center;
}

.ways > .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1%;
}

.ways > .content > .field {
    height: 300px;

    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.field > .text-block {
    height: 70%;

    position: relative;
}

.text-block > .title {
    font-weight: 400;
    margin: 10px 0;
}

/* FOOTER */

footer {
    font-family: var(--arial);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer > .title { font-weight: 100; }

footer > .try,
footer > .hover {
    font-size: 20pt;
    background-color: #ffdb4a;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 50px;
    outline: none;

    margin-top: 5px;
}

footer > .try { background: linear-gradient(#ffe349, #ffdb01); }

footer > .try:hover {
    background: linear-gradient(#ffe86a, #ffe12f);
    cursor: pointer;
}

footer > .hover {
    background: linear-gradient(#ffe86a, #ffe12f);
    cursor: pointer;
}